<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Iterating over data</title>
</head>
<body>
<div ng-init="people=[{name: 'Dan', city: 'New York'}, {name: 'Tom', city: 'New Jersey'},
    {name: 'Rob', city: 'Portland'}, {name: 'Bob', city: 'Pittsburgh'}]">
    <h2>Iterating through Data</h2>
    <ol>
        <li ng-repeat="person in people">{{person.name}} -> {{ person.city}}</li>
    </ol>

    <table>
        <tr>
            <td>Name</td>
            <td>City</td>
        </tr>
        <tr ng-repeat="person in people">
            <td>{{person.name}}</td>
            <td>{{ person.city}}</td>
        </tr>
    </table>
</div>
<script src="../angular.js"></script>

</body>
</html>